nop
nop
prn eip

label:
mov eax, 100
mov ebx, 101
mov ecx, 102
mov edx, 103
mov esi, 104
mov edi, 105
mov esp, 106
mov ebp, 107
mov r08, 108
mov r09, 109
mov r10, 110
mov r11, 111
mov r12, 112
mov r13, 113
mov r14, 114
mov r15, 115


mov [0], 200
mov [1], 201

prn eax
prn ebx
prn ecx
prn edx
prn esi
prn edi
prn esp
prn ebp
prn r08
prn r09
prn r10
prn r11
prn r12
prn r13
prn r14
prn r15

prn [0]
prn [1]

prn 300
prn 0x12d
prn 0x12E
prn 12f|h
prn 100110000|b

prn -300
prn -0x12d
prn -0x12E
prn -12f|h
prn -100110000|b

prn label